<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.system.permission.mapper.PermissionMapper">
    <select parameterType="long" id="getPermissionListByUserId" resultType="com.itmk.system.permission.entity.Permission">
        select distinct
            p.id,
            p.parent_id,
            p.name,
            p.url,
            p.type,
            p.icon,
            p.code,
            p.remark,
            p.create_time,
            p.update_time,
            p.label,
            p.path,
            p.is_home,
            p.order_num
        from sys_user as u
        left join sys_user_role as ur on u.id = ur.user_id
        left join sys_role as r on ur.role_id = r.id
        left join sys_role_permission as rp on rp.role_id = r.id
        left join sys_permission as p on rp.permission_id = p.id
        where u.id = #{userId}
        order by p.order_num asc
     </select>

    <select parameterType="long" id="getPermissionListByRoleId" resultType="com.itmk.system.permission.entity.Permission">
        select distinct p.*
        from sys_permissino p
        join sys_role_permission rp on p.id = rp.permisssion_id
        join sys_role sr on rp.role_id = sr.id
        where rp.role_id = #{roleId}
        order by p.id
    </select>


</mapper>